__pycache__/
*.py[cod]
*.so

.DS_Store

.venv/
venv/
env/

build/
dist/
dist-noiso/
*.egg-info/
.pytest_cache/
.mypy_cache/
outputs/
testOutput/
tmp/
services/*/*.log
services/*/logs/
services/*/outputs/
checkpoints/
data/

models/
download/
output/

*.mp4
*.png
*.jpg
*.jpeg

!assets/
!assets/**
!assets/sample_output_wan22_i2v_quality.mp4


temp/
